<header>
    <div class="logo">
        <a href="index.html"><img src="logo1.jpg" alt="ShoeSphere Logo"></a>
    </div>
    <nav>
        <ul>
            <li><a href="men.html">MEN</a></li>
            <li><a href="women.html">WOMEN</a></li>
            <li><a href="kids.html">KIDS</a></li>
        </ul>
    </nav>
    <div class="header-right">
        <a href="about.html" class="about-link">ABOUT</a>
        <a href="signup.html" class="signup-link">SIGN UP</a>
        <div class="search">
            <input type="text" placeholder="SEARCH">
        </div>
        <a href="cart.html" class="cart-icon">🛒</a>
    </div>
</header>
